:root {
    --nav-height: 5rem;
    --primary-clr: 204, 100%, 33%;
    --gray-clr: 0, 0%, 25%;
    --light-gray-clr: 0, 0%, 45%;

    --border: .15rem solid hsl(var(--light-gray-clr));
	--border-radius: .4em;

    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
    color: white;
    background-color: hsl(var(--gray-clr));
}

a {
    color: white;
    text-decoration: none;
}


.underline {
    all: unset;
    cursor: pointer;
    color: var(--text-clr);
    font-size: 1.5rem;
    position: relative;
}
.underline:hover {
    color: var(--text-clr);
}
.underline:focus {
    outline: unset;
}
.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: .25em;
    background-color: currentColor;
    bottom: -.5em;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 200ms ease;
}

.underline:hover::before, .underline:focus::before {
    transform: scaleX(1);
}


.btn {
	all: unset;
    display: block;
    text-align: center;
	padding: .3em;
	border: var(--border);
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
}
.btn:active, .btn.active {
	background-color: hsl(var(--light-gray-clr));
}

#svelte {
    display: contents;
}